.top{
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 20px;
    right: 10%;
    border: 1px solid #ccd4ea;
    border-radius: 50%;
    background: #fff;
}
.top:after{
    content: "↑";
}
@media only screen and (max-width:633px) {
    .top{
        right: 3%;
    }
}