@page "/login"
@using VehicleMonitoringWebApp.Models
@using VehicleMonitoringWebApp.Services
@using Microsoft.AspNetCore.Components.Forms
@inject AuthService AuthService
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthProvider


<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div id="login-form">
        <h3>Login</h3>
        <div class="mb-15">
            <InputText class="form-control" placeholder="Username" @bind-Value="loginModel.Username" />
        </div>
        <div class="mb-15">
            <InputText type="password" placeholder="Password" class="form-control" @bind-Value="loginModel.Password" />
        </div>
        <button class="btn btn-primary" type="submit">Login</button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger mt-2">@errorMessage</div>
        }
    </div>
</EditForm>

@code {
    private LoginModel loginModel = new();
    private string errorMessage = "";

    private async Task HandleLogin()
    {
        var user = await AuthService.AuthenticateAsync(loginModel.Username, loginModel.Password);

        if (user != null)
        {
            await AuthProvider.MarkUserAsAuthenticated(user.Username);
            Navigation.NavigateTo("/");
            Console.WriteLine($"Login sukses sebagai: {user.Username}");
        }
        else
        {
            errorMessage = "Username atau password salah.";
        }
    }

    public class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }
}